global:
  scrape_interval: 15s # Default is every 1 minute.

# Alertmanager configuration
alerting:
  alertmanagers:
  - static_configs:
    - targets:
      # - 'alertmanager:9093'

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'docker'
    static_configs:
      - targets: ['docker.for.mac.localhost:9323']
  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']
  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8000']
  - job_name: 'rabbitmq-server'
    static_configs:
      - targets:
          - 'iot-rabbitmq:15692'
  - job_name: 'rabbitmq-server-detailed'
    metrics_path: "/metrics/detailed"
    params:
      family: ["queue_coarse_metrics"]
    static_configs:
      - targets:
          - 'iot-rabbitmq:15692'
  - job_name: 'sensor-measurements-ingester'
    static_configs:
      - targets:
          - 'iot-sensor-measurements-ingester-0:9091'
          - 'iot-sensor-measurements-ingester-1:9091'
          - 'iot-sensor-measurements-ingester-2:9091'
